<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/favicon.svg">
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <!-- Logo -->
      <div class="header-top-container">
        <div class="container-banner">
          <a href="/">
            <img class="banner-header" src="/img/logo-mercado-liebre.svg" alt="Mercado Libre">
          </a>
        </div>
        <!-- Barra de búsqueda -->
        <div class="search-bar-container">
          <form action="GET">
            <input class="search-bar"  type="text" placeholder="Buscar productos, marcas y mas..." > 
            <div class="submit-click">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </form>
        </div>
        <!-- Comprá en cuotas y sin tarjeta de crédito -->
        <div class="installment-info">
          <p>Comprá en cuotas y sin tarjeta de crédito
          <i class="fa-solid fa-hand-holding-dollar"></i>
          </p>
        </div>
      </div>

      <div class="header-bottom-container">
        
        <nav class="nav-header-links">
          <ul class="nav-items-links">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </nav>
  
        <nav class="nav-header-user">
          <ul class="nav-items-user">
            <li><a href="/register">Crea tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/login">Ingresa<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
        </nav>
      </div>

      <!-- Icono menú hamburguesa -->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

    </header>

    <img class="banner-main"  src="/img/img-home-banner.jpg" alt="">
    <main>
      <!-- Sección: Basado en tu última visita -->
      <h2 class="title-main">Basado en tu última visita</h2>
      <section class="section-main">
        
        <article class="product">

          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
          <div class="product-info">
            <i class="truck fa-solid fa-truck"></i>
            <div class="container-price">
              <p class="price">$6.770</p>
              <p class="discount">40% Off</p>
            </div>
            <div class="container-description">
              <p class="description">Cafetera Moulinex</p>
            </div>
          </div>
        </article>

        <article class="product">

          <img src="/img/img-macbook-pro-2019.jpg" alt="Cafetera">
          <div class="product-info">
            <i class="fa-solid fa-truck"></i>
            <div class="container-price">
              <p class="price">$230.000</p>
              <p class="discount">20% Off</p>
            </div>
            <div class="container-description">
              <p class="description">MacBook Pro 2019</p>
            </div>
          </div>
        </article>

        <article class="product">

          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Cafetera">
          <div class="product-info">
            <i class="fa-solid fa-truck"></i>
            <div class="container-price">
              <p class="price">$70.500</p>
              <p class="discount">10% Off</p>
            </div>
            <div class="container-description">
              <p class="description">Samsung Galaxy S10</p>
            </div>
          </div>
        </article>

        <article class="product">

          <img src="/img/img-tv-samsung-smart.jpg" alt="Cafetera">
          <div class="product-info">
            <i class="fa-solid fa-truck"></i>
            <div class="container-price">
              <p class="price">$23.200</p>
              <p class="discount">5% Off</p>
            </div>
            <div class="container-description">
              <p class="description">SmartTv Samsung 43"</p>
            </div>
          </div>
        </article>

      </section>


      <h2 class="title-main">Ofertas</h2>
      <section class= "section-main">

        <article class="product">

          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
          <div class="product-info">
            <i class="fa-solid fa-truck"></i>
            <div class="container-price">
              <p class="price">$6.770</p>
              <p class="discount">40% Off</p>
            </div>
            <div class="container-description">
              <p class="description">Cafetera Moulinex</p>
            </div>
          </div>
        </article>

        <article class="product">

          <img src="/img/img-macbook-pro-2019.jpg" alt="Cafetera">
          <div class="product-info">
            <i class="fa-solid fa-truck"></i>
            <div class="container-price">
              <p class="price">$230.000</p>
              <p class="discount">20% Off</p>
            </div>
            <div class="container-description">
              <p class="description">MacBook Pro 2019</p>
            </div>
          </div>
        </article>
        
        <article class="product">
          
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Cafetera">
          <div class="product-info">
            <i class="fa-solid fa-truck"></i>
            <div class="container-price">
              <p class="price">$70.500</p>
              <p class="discount">10% Off</p>
            </div>
            <div class="container-description">
              <p class="description">Samsung Galaxy S10</p>
            </div>
          </div>
        </article>
        
        <article class="product">

          <img src="/img/img-tv-samsung-smart.jpg" alt="Cafetera">
          <div class="product-info">
            <i class="fa-solid fa-truck"></i>
            <div class="container-price">
              <p class="price">$23.200</p>
              <p class="discount">5% Off</p>
            </div>
            <div class="container-description">
              <p class="description">SmartTv Samsung 43"</p>
            </div>
          </div>
        </article>

      </section>

    </main>

    <footer>
      <div class="container-footer">
        <article class="item-footer">
          <i class="fa-solid fa-credit-card"></i>
          <h2 class="title-item-footer"> Pagá con tarjeta o en efectivo </h2>
          <p>
            <span>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!
            </span>
          </p>
        </article>
  
        <article class="item-footer">
          <i class="fa-solid fa-gift"></i>
          <h2 class="title-item-footer">Envío gratis desde $ 2.500</h2>
          <p>
            <span>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.
            </span>
          </p>
        </article>
  
        <article class="item-footer">
          <i class="fa-solid fa-user-shield"></i>
          <h2 class="title-item-footer">Seguridad, de principio a fin</h2>
          <p>
            <span>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.
            </span>
          </p>
        </article>
      </div>
      <p class="text-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>